* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #232830;
}

@media (max-width: 767px) {

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        margin: 0 auto;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        background-color: #181b21 !important;
        border-bottom: 1px solid #FF7575;
        z-index: 1;

        .navbar-brand {
            font-size: 25px;
        }

        #first_item {
            margin-top: 15px
        }

        .nav-item {
            border-top: 0.800px solid #4D4D4D;
        }

    }

    .header {
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        margin-bottom: 100px;

        .image {
            width: 25vw;
            margin-left: 10vw;
        }

        .subtitle {
            margin-top: 20px;
            color: #FF7575;
            font-family: "Inria Sans", sans-serif;
            font-weight: 300;
            font-style: italic;
            font-size: 10vw;
            margin-bottom: 4px;
        }

        .span {
            color: #fff;
            font-size: 3vw;
        }
    }

    .menu {
        border-top: 1px solid #4D4D4D;
        border-bottom: 1px solid #4D4D4D;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        width: 90%;
        margin: 0 auto;
        padding: 8px 0;
        mask-image: linear-gradient(to right, black, 90%, transparent);

        svg {
            height: 6vw;
            width: 6vw;
            margin-bottom: 2.5vw;
        }

        .menu__item {
            font-family: "Inria Sans", sans-serif;
            font-weight: 300;
            font-style: italic;
            color: #909090;
            font-size: 6vw;
            padding: 0 2vw;
            text-decoration: none;
            height: 100%;
        }

        .menu__item__active {
            color: #FF7575;
        }

    }

    .articles {
        display: grid;
        margin: 0 auto;
        margin-top: 20px;
        grid-template-columns: 85%;
        justify-content: center;
        margin-bottom: 50px;

        .article {
            margin-bottom: 5%;

            .article__img {
                width: 100%;
                height: 40vw;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                top: 0;
                display: block;
                object-fit: cover;
            }

            .article__content {
                background-color: #fff;
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                width: 100%;
                color: black;
                padding: 0 5%;
                padding-top: 3%;
                padding-bottom: 1%;

                .article__content__title {
                    width: 95%;
                    padding-top: 1vw;
                    font-size: 5.5vw;
                    display: flex;
                }

                .article__content__text {
                    font-size: 4.5vw;
                    color: #777E90;
                }

                .article__content__link {
                    color: #FF7575;
                }

                .article__content__link {
                    .article__content__link__icon {
                        position: relative;
                        left: 0px;
                        transition: 100ms;
                    }

                    .article__content__link__icon__click {
                        left: 50px !important;
                        transition: 400ms;
                    }
                }
            }
        }



    }

    .footer {
        border-top: 1px solid #4D4D4D;
        height: 50px;
        color: #fff;
        padding-top: 10px;

        .footer__content {
            width: 90%;
            margin: 0 auto;
            .footer__content__links {
                display: flex;
                justify-content: center;

                .footer__content__links__link {
                    margin-bottom: 15px;
                    
                    a {
                        display: flex;
                        color: #fff;
                        text-decoration: none;
                        justify-content: center;
                        text-align: center;
                        vertical-align:middle;
                        border-radius: 50%;

                        svg {
                            width: 10vw;
                            margin: 2vw;
                        }
                    }
                }
            }
            p{
                text-align: center;
                font-size: 4.5vw;
                padding-bottom: 5px;
                span {
                    color: #FF7575;
                }
            }
        }
    }
}



// MOBILE FIRST 
// MOBILE FIRST
// MOBILE FIRST
// MOBILE FIRST
// MOBILE FIRST
// MOBILE FIRST 
// MOBILE FIRST
// MOBILE FIRST
// MOBILE FIRST
// MOBILE FIRST
// MOBILE FIRST 
// MOBILE FIRST
// MOBILE FIRST
// MOBILE FIRST
// MOBILE FIRST